.acid-page {
	.section-2 {
		.display-section {
			flex-direction: row;
			align-items: flex-start;
		}
	}
	.section-7 {
		.display-section {
			flex-direction: row;
			align-items: flex-start;
		}
	}
}
