.contacts-page {
	.section-0 {
		h2 {
			color: $color-text;
		}

		.display-section {
			height: 19.5rem;
			min-height: 19.5rem;
			padding: 0;
			&::before,
			&::after {
				display: none;
			}
		}
	}
}
