.didyouknow-page {
	.section-which-filler {
		.image-back {
			align-self: stretch;
			justify-self: stretch;

			background-image: url("./assets/img/about-section-0.jpg");
			background-position: center left;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}
