.distribution-page {
	.section-1 {
		background-image: url("./assets/img/about-section-1.jpg");
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.section-2 {
		.display-section {
			flex-direction: row;
			align-items: flex-start;
		}
	}
	.section-7 {
		.display-section {
			flex-direction: row;
			align-items: flex-start;
		}
	}
}
