@mixin transitionall($duration) {
	-webkit-transition: all $duration cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: all $duration cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all $duration cubic-bezier(0.77, 0, 0.175, 1);
	transition: all $duration cubic-bezier(0.77, 0, 0.175, 1);
}
@mixin transitionall-inout($duration) {
	-webkit-transition: all $duration ease-in-out;
	-moz-transition: all $duration ease-in-out;
	-o-transition: all $duration ease-in-out;
	transition: all $duration ease-in-out;
}

.page-wrapper,
.wrapper {
	width: 100%;
	margin: 0 auto;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 90%;
	max-width: $body-width; //1170

	&.full {
		width: 100%;
		max-width: 100%;
	}
}

.columns-wrapper,
.row {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;

	margin-left: -0.5rem;
	margin-right: -0.5rem;

	&.justify-center {
		justify-content: center;
	}

	&.justify-left {
		justify-content: flex-start;
	}
	&.justify-right {
		justify-content: flex-end;
	}
}

.columns-wrapper {
	&.column {
		flex-flow: column wrap;
	}
}
.center {
	text-align: center;
}
// .row {
// 	display: flex;
// 	flex-wrap: row wrap;
// 	flex: 0 1 auto;
// 	margin-left: -0.5rem;
// 	margin-right: -0.5rem;

// 	&.justify-center {
// 		justify-content: center;
// 	}
// }

.box {
	flex: 1 1 auto;
	flex-basis: 100%;
	padding: 1rem;
	position: relative;
	overflow: hidden;

	//border: 1px solid deeppink; //Debug

	& > img {
		width: auto;
		max-width: 80%;
		height: auto !important;
		display: block;
		padding: 0;
		margin: 0;
	}

	&.nopadding {
		padding: 0;
	}

	&.col-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	&.col-10 {
		flex-basis: 83.333%;
		max-width: 83.333%;
	}

	&.col-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	&.col-8 {
		flex-basis: 66.666%;
		max-width: 66.666%;
	}

	&.col-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	&.col-5 {
		flex-basis: 41.6666%;
		max-width: 41.6666%;
	}
	&.col-4 {
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	&.col-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	&.col-2 {
		flex-basis: 16.666%;
		max-width: 16.666%;
	}
}

@media only screen and (max-width: 480px) {
	.box {
		& > img {
			width: auto;
			max-width: 80%;
			height: auto !important;
			display: block;
			padding: 0;
			margin: 0;
		}

		&.col-12 {
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-10 {
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-9 {
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-8 {
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-6 {
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-5 {
			flex-basis: 100%;
			max-width: 100%;
		}
		&.col-4 {
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-3 {
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-2 {
			flex-basis: 100%;
			max-width: 100%;
		}
	}
}
