@media only screen and (max-width: 480px) {

body {
	padding-top: $mobile-header-height;
}
	
	h1 {
		font-size: 2.8rem;
	}
	h2 {
		font-size: 2.3rem;
	}
	h3 {
		font-size: 1.5rem;
	}

	// HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER
	// HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER
	// HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER

	.site-header {
		height: $mobile-header-height;

		.header-logo-container {
			padding-bottom: 0;
			img {
				max-width: 5rem;
			}
		}

		.navigation-container{
			padding-bottom: 0;
		}

		.menu-toggle {
			padding-bottom: 0;
		}		

		.main-navigation ul li.current_page_item > ul,
		.main-navigation ul li.current_page_item > ul {
			box-shadow: none;
			border-bottom: 1px solid $color-highlight;
			border-top: 1px solid $color-highlight;
			float: none;
			position: relative;
			top: 100%;
			left: auto;

			li a{
				display: block;
				padding: 0.5rem 1rem;
				text-align: center;
				width: 100%;
			}
		}
	}

	// BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT
	// BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT
	// BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT BODY CONTENT

	.display-section {
		min-height: unset;
		justify-content: flex-start;
		align-items: flex-start;

		padding-top: 5rem;
		padding-bottom: 5rem;

		&::before {
			width: 5rem;
		}

		&::after {
			width: 5rem;
		}
	}

	a.body-link {
		@include transitionall(0.2s);
		display: inline-block;
		width: 100%;
		text-align: center;
		position: relative;

		color: $color-text;
		text-decoration: none;
		padding: 0;
		padding: 1rem 0.5rem;

		span {
			display: inline-block;
			padding: 0 0.5rem;
		}

		&::before {
			@include transitionall(0.2s);
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			top: 50%;
			left: 0;
			height: 1px;
			border: 1px solid $color-text;

			mask-image: linear-gradient(
				to right,
				rgba(0, 0, 0, 1),
				rgba(0, 0, 0, 1) 20%,
				rgba(0, 0, 0, 0) 20%,
				rgba(0, 0, 0, 0) 80%,
				rgba(0, 0, 0, 1) 80%,
				rgba(0, 0, 0, 1) 100%
			);
		}
	}

	// PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES
	// PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES
	// PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES PAGES

	.greek-background {
		background-position: bottom center;
	}

	.bubble-background {
		background-position: 80% center;
	}

	.cover-background-right{
		background-position: top center;
	}	

.section-single-image-big{
		background-position: bottom right;

		.image-back {		
			min-height: 40vh;
		}
}	

	.section-triple {
		background-color: $color-beige;

		.display-section {

				// &::before {
				// 	display: none;
				// }

				// &::after {
				// 	display: none;
				// }

				div{
					padding-top: 6rem;
					padding-bottom: 6rem;
				}
			}
	}	

	.archive-page {
		.page-header {
				padding: 3rem 0;
			}
			.archive-title {
				line-height: 105%;
				font-size: 2.5rem;
			}		
	}

.post-page {
	.post-header {
		padding: 3rem 0;
	}
}	

	// FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER
	// FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER
	// FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER

	.footer {
		text-align: center;
		.footer-logo-container {
			img {
				max-width: 5rem;
			}
		}
	}
}
