.archive-page {
	.page-header {
		padding: 10rem 0;

		background-image: url("./assets/img/about-section-1.jpg");
		background-position: top right;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.archive-title {
		font-family: "Cormorant", Georgia, serif;
		font-weight: bold;
		line-height: 105%;
		text-transform: uppercase;
		color: $color-text;
		padding: 1rem 0;
		font-size: 3.5rem;
	}
}

.grid-item {
	margin-bottom: 2rem;
	img {
		display: block;
		min-width: 100%;
		border: 2px solid $color-highlight;
	}
	.entry-title {
		h1 {
			text-transform: none;
			font-size: 1.5rem;

			&:hover {
				color: $color-text;
			}
		}
		&:hover {
			text-decoration: none;
		}
	}

	.entry-content {
		font-size: 1rem;
	}

	.readmore-link {
		font-size: 1rem;
		font-weight: bold;
	}
}

.post-page {
	.post-header {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 6rem;

		position: relative;

		&::after {
			display: block;
			content: "";
			width: 100%;
			height: 100%;

			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.5);
		}
	}

	.entry-title {
		position: relative;
		z-index: 2;
		font-family: "Cormorant", Georgia, serif;
		font-weight: bold;
		line-height: 105%;
		text-transform: uppercase;
		color: $color-text;
		padding: 1rem 0;
		font-size: 3.5rem;
		color: $color-text;
	}

	.entry-content {
		font-size: 1rem;
		padding: 2rem 0;
	}
}

.nav-links {
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
