//$body-width: 73.125rem;
$header-height:12.8rem;
$mobile-header-height:9rem;
$body-width: 73.125rem;
$color-background: rgb(255, 255, 255);
$color-text: #959094;
$color-darktext: #4d4a4c;
$color-highlight: #b49653;
$color-beige: #f3f6f5;
$color-darkgray: #707070;
